name: Release Build
permissions:
  contents: write    
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Setup Python Environment
      run: python APWorld/setup.py
    - name: Build
      run: dotnet build --configuration Release
    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}
      with:
        body_path: CHANGELOG.md
        files: |
          Release/APWorld.Release/build/outward.apworld
          Release/Mod.Release/build/OutwardArchipelago.zip