name: Update Changelog
permissions:
  contents: write    
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Conventional Changelog Action
      uses: TriPSs/conventional-changelog-action@v5
      with:
        github-token: ${{ secrets.github_token }}
        preset: conventionalcommits
        git-message: "chore: update changelog"
        input-file: CHANGELOG.md
        output-file: CHANGELOG.md
        release-count: 0
        version-file: version.json
        version-path: version
